altgraph==0.17.5
APScheduler==3.11.2
asgiref==3.11.1
cachetools==7.0.5
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.1.8
cobs==1.2.2
colorama==0.4.6
Django==5.2.13
django-apscheduler==0.7.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
environs==14.6.0
idna==3.11
jsonpickle==4.1.1
markdown-it-py==4.0.0
marshmallow==4.2.2
mdurl==0.1.2
observable==1.0.3
packaging==26.1
pefile==2024.8.26
pillow==12.2.0
pros-cli==3.5.6
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyJWT==2.12.1
pypng==0.0.20
pyserial==3.5
python-dotenv==1.2.2
pywin32-ctypes==0.2.3
pyzmq==27.1.0
requests==2.33.1
requests-futures==1.0.2
rich==15.0.0
rich-click==1.7.4
scan-build==2.0.13
semantic-version==2.10.0
sentry-sdk==2.58.0
sqlparse==0.5.5
tabulate==0.10.0
typing==3.7.4.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3